global 
        log /dev/log    local0
        log /dev/log    local1 notice
        #chroot /var/lib/haproxy
        stats timeout 30s
        user haproxy 
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog 
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000 
frontend Accesos_HTTP
        bind :80 
        option  forwardfor
        stats uri /haproxy?stats
        default_backend Granja_puerto_80

backend Granja_puerto_80
        mode    http
        balance roundrobin
        server S3 10.1.3.2:80 maxconn 400 check weight 2
        server S4 10.1.3.3:80 maxconn 400 check weight 1

